# Q2 I/O Q340

ou want to write a new player to a file

and print the whole file content to the monitor.

What snippet would you insert in the line indicated below:


    customer = 'Peter Wellert'
    with open('customers.txt', 'a+') as f:
        f.write(customer)
        # insert your code here
        data = f.read()
        print(data)

In [10]:
customer = 'Peter Wellert'
with open('customers.txt', 'a+') as f:
    f.write(customer)
    f.seek(0)
    data = f.read()
    print(data)

Peter WellertPeter WellertPeter WellertPeter WellertPeter Wellert

f.seek - places the coursor at the beginning of the file
flush clears the internal buffer of the file

# Q3 OOP Q395

Given the code below,

which of the expressions will evaluate to True?

In [15]:
    class Un:
        value = "Eins"
     
        def say(self):
            return self.value.lower()
     
     
    class Deux(Un):
        value = "Zwei"
     
     
    class Troi(Un):
        def say(self):
            return self.value.upper()
     
     
    class Quatre(Troi, Deux):
        pass
     
     
    d = Quatre()
    b = Deux()

In [19]:
# not d.value == "Eins" because Quare class inherits the value from  the class Deux - not Un

# Q5 Control Flow Q323  III

What is the expected output of the following code?

In [23]:
    data = [(0, 1), (1, 2), (2, 3)]
    res = sum(i for j, i in data) # a list of j and i tuples in data - sum of 1,2 and 3
    print(res)

6

# Q7 Control flow Q356 IV

The ABC company is creating a program

that allows customers to log the number of miles biked.

The program will send messages based on how many miles the customer logs.

You create the following Python code.

In [27]:
    ???
        name = input('What is your name? ')
        return name
     
     
    ???
        calories = miles * calories_per_mile
        return calories
     
     
    distance = int(input('How many miles did you bike this week? '))
    burn_rate = 50
    biker = get_name()
    calories_burned = calc_calories(distance, burn_rate)
    print(biker + ', you burned about', calories_burned, 'calories.')

IndentationError: unexpected indent (3839600776.py, line 2)

def get_name():

def calc_calories(miles, calories_per_mile):

not def get_name(name)- as the user has to be prompted for the name here

# Q14 Error Handling Q363 V


Select the true statements.


Choose two.

1  Different except: branches must have unique exception names.

2 You can use multiple except: branches to handle multiple exceptions coming from the same try: branch.

# Q15 Error Handling Q357 VI

What is the expected output of the following code?

In [37]:
    try:
        if '1' != 1:
            raise FirstError
        else:
            print('FirstError has not occured.')
    except FirstError:
        print('FirstError has occured.')
    else:
        print('None of the above.')

NameError: name 'FirstError' is not defined

The FirstError was invoked before the definition

# Q18 Control Flow Q381 VII

What is the expected output of the following code?

In [45]:
    header = 2 * '+-' + '+'
    plus = 0
    for x in header:
        if x not in header: # it's never true - x in header is always in header
            plus += 1
    print(plus)

0

# Q21 OOP Q332

What is the expected output of the following code?

In [54]:

    class A:
        def __init__(self):
            self.calc(10)
     
        def calc(self, i):
            self.i = 3 * i
     
     
    class B(A):
        def __init__(self):
            super().__init__() # super sets the i to 10
            print('i from B is', self.i)
     
        def calc(self, i):
            self.i = 2 * i # method is overridden in class B
     
     
    b = B()

i from B is 20

# Q24  OOP Q391 IX

Which of the following classes have valid constructors?


(Select two answers.)

In [58]:
    class Aleph:
        def __init__(self):
            self.attribute = True

In [64]:
    class Dalet: # not incorrect
        def __init__(self):
            return False

In [62]:
    class Bet:
        def __init__(self):
            raise ArithmeticError

# Q26 Functions Q383 X

What is the expected output of the following code?

In [68]:
    pairs = [[2, 1], [-1, -1]]
    new_pairs = map(lambda p: sorted(p), pairs)
    print(list(new_pairs)[0][0])

1

# Q35 Control Flow Q306 XI

What is the expected output of the following code?

In [84]:
    data = [1, {}, (2,), (), {3}, [4, 5]]
    points = 0
     
    for i in range(len(data)):
        if type(data[i]) == list:
            points += 1
            print(type(data[i]))
            print(points)
        elif type(data[i]) == tuple:
            points += 10
            print(type(data[i]))
        elif type(data[i]) == set:
            points += 100
            print(type(data[i]))
        elif type(data[i]) == dict:
            points += 1000
            print(type(data[i]))
        else:
            points += 10000
    print(points)

<class 'dict'>
<class 'tuple'>
<class 'tuple'>
<class 'set'>
<class 'list'>
11121
11121

In [86]:
    data = [1, {}, (2,), (), {3}, [4, 5]]
    points = 0
     
    for i in range(len(data)):
        if type(data[i]) == list:
            points += 1
            print(type(data[i]))
            print(points)
        elif type(data[i]) == tuple:
            points += 10
            print(type(data[i]))
        elif type(data[i]) == set:
            points += 100
            print(type(data[i]))
        elif type(data[i]) == dict:
            points += 1000
            print(type(data[i]))
        else:
            points += 10000
    print(points)

<class 'dict'>
<class 'tuple'>
<class 'tuple'>
<class 'set'>
<class 'list'>
11121
11121

# 36 Error Handling Q367

What is the expected output of the following code?

In [90]:
    def attic(x):
        assert x != 0
        return 1 / x
     
     
    def floor(x):
        try:
            attic(x)
        except:
            raise
     
     
    try:
        x = attic(0)
    except RuntimeError:
        x = -3
    except:
        x = -2
    else:
        x = -1
    print(x)

-2

There is no specific exception for runtiume error

#37 Operators Q303

What is the expected output of the following code?

In [94]:
x = 4.5

y = 2

print(x // y)

2.0

it's floor dividion - rounds up to the nearest whole number after dividing 2.24 -> 2