# A1

## Example of a class and an instance

In [27]:
class WareHouse:
    counter = 0
    def __init__(self,address,space,cost):
        self.address = address
        self.space = space
        self.cost = cost
        WareHouse.counter += 1

    def display(self):
        print('The warehouse is located at: ',self.address,'with a space of: ',self.space,"it's cost is ", self.cost)

jersey_w1 = WareHouse('Bloomingfield 12 av.',2000,500_000)
jersey_w1.display()
print(WareHouse.counter)

The warehouse is located at:  Bloomingfield 12 av. with a space of:  2000 it's cost is  500000
1

In [29]:
class WareHouse:
    counter = 0
    def __init__(self,address,space,cost):
        self.addresss = address
        self.space = space
        self.cost = cost
        WareHouse.counter += 1

    def display(self):
        print('The warehouse is located at: ',self.address,'with a space of: ',self.space,"it's cost is ", self.cost)

jersey_w1 = WareHouse('Bloomingfield 12 av.',2000,500_000)
fersey_w1.present()
print(WareHouse.counter)

NameError: name 'fersey_w1' is not defined

# A2

## differenatating claa, instance and object variables:

In [39]:
class WareHouse:
    counter = 0
    def __init__(self,address,space,cost):
        self.address = address
        self.space = space
        self.cost = cost
        WareHouse.counter += 1

        WareHouse.quality = 'low' # class variable belongs to the class not the object
        self.quality = "medium" # object variable
        quality = "high"

        # accessing from the constructor
        print(WareHouse.quality, self.quality,quality)

    def display(self):
        print('The warehouse is located at: ',self.address,'with a space of: ',self.space,"it's cost is ", self.cost)

jersey_w1 = WareHouse('Bloomingfield 12 av.',2000,500_000)
jersey_w1.display()
print(WareHouse.counter)

low medium high
The warehouse is located at:  Bloomingfield 12 av. with a space of:  2000 it's cost is  500000
1

# A3

## example of accessing variables:

### instance variable

In [43]:
print(jersey_w1.quality)

medium

### class variable:

In [48]:
print(WareHouse.quality)

low

### local variables:

## Inaccessible outside the code block within which they were created